vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2014 22:48:10 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|--\\-
vti_modifiedby:SR|--\\-
vti_timecreated:TR|28 Nov 2014 17:28:23 -0000
vti_backlinkinfo:VX|collections.htm where-to-buy.htm
vti_nexttolasttimemodified:TW|29 Nov 2014 22:48:01 -0000
vti_cacheddtm:TX|29 Nov 2014 22:48:10 -0000
vti_filesize:IR|1950
vti_cachedlinkinfo:VX|S|../images/logo.png S|../images/btn_back.png S|../images/btn_back-hover.png S|../images/btn_next.png S|../images/btn_next-hover.png S|../images/btn_pause.png S|../images/btn_pause-hover.png S|../images/btn_play.png S|../images/btn_play-hover.png
vti_cachedsvcrellinks:VX|FSUS|images/logo.png FSUS|images/btn_back.png FSUS|images/btn_back-hover.png FSUS|images/btn_next.png FSUS|images/btn_next-hover.png FSUS|images/btn_pause.png FSUS|images/btn_pause-hover.png FSUS|images/btn_play.png FSUS|images/btn_play-hover.png
